/*reglas generales*/

/*Media Query*/

/** Reescribir colores */

 * {
    box-sizing: 100%;
    margin: 0;
    padding: 0;
} 

body{
    padding: 20px;
}

@media (max-width: 767px) { /* Estilos para pantallas pequeñas (móviles) - Para resonsivo*/
            .producto-1 {
                flex-direction: column;
            }

            .producto-1 div {
                flex-basis: 100%;
            }

            .hero_img img {
                flex-basis: 100%;
            }
            .spacer,
            .search {
                display: none !important;
            }
        }


img {
    max-width: 100%;
    height: auto;
    display: block;
}

.raleway-Font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.playfair-Font {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1,
h2 {
    color: #000000;
    font-size: 3rem;
    text-align: center;
    /*background-color: blueviolet;*/
}

span.title {
    color: #037bc0;
}



/*Navbar Configuration*/
.navbar {
    background-color: #0077b6;
    display: flex;/*Usar Flex: acomoda en flex */
    align-items: center;/*justify-content: center;*/
    justify-content: space-between;/*Espacio entre logo y menu*/
    padding: 5px 40px;/*Espaciado interno*/

    width: 100%;
    box-sizing: border-box; /*Incluir padding en el ancho total*/
}

.menu {
    list-style: none;/*Quitar viñetas de la lista*/
    display: flex; /*Hacer que los elementos de la lista estén en línea*/
    gap: 25px;
    flex-wrap: wrap; /*Permitir que los elementos se envuelvan si es necesario*/
}

.menu li {
    margin: 0px 20px; /*Espacio entre los elementos de la lista*/
}

.menu li a {
    text-decoration: none; /*Quitar subrayado de los enlaces*/
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    
    transition: color 0.3s;
}

.menu li a:hover {
    color: #ffd60a;
}

/*Navbar Logo*/

.logo img {
    height: 20px;
    margin-right: 30px;
    /*Espacio entre logo y menú*/
}

.spacer .menu li.active a {
    color: #ffd60a;
}

/*Hero imagen*/
.hero_img img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
}

/*Navbar Busqeuda*/
.search {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    /*Espacio entre input y botón*/
}

.search input {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
}

.search button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    border: solid 1px #ffffff;
    background-color: #0077b6;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search button:active {
    background-color: #005f87;
    border: solid 1px #005f87;
    color: #ffffff;
    transition: background-color 0.3s;

}



/** Productos */


/* Main*/
section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.producto-1 {
    display: flex;
    width: 100%;
    max-width: 1200px; /*Ancho máximo del contenedor*/
}

.producto-1 div {
    display: flex;
    flex-basis: 50%; /*Cada div ocupa el 50% del contenedor padre*/
    flex-direction: column;
    justify-content: center;
}

.producto-1 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.detalles_producto-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #0077b6;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

.detalles_producto-1 button {
    /*align-self: self-end; /*Alinear el botón al final del contenedor*/
    align-self: auto;
}